doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    link(href="https://d3nkxvtkt5c8vi.cloudfront.net/2.0.1/sp-bootstrap.min.css", rel="stylesheet")
  body
    block content